.git
.github
.gitignore
.gocache
*.crt
*.key
*.pem
*.log
*.txt
*_test.go
admin-config
certificate
cmd
docs
report
testes-de-falsos-positivos
logs
state
README.md
TRAINING_MODE.md
CUSTOM_RULES.md
docker-compose.yml
